.searchInput {
    width: 100%;
    padding: 12px;
    padding-left: 30px;
    min-width: 400px;
    background-color: #f6f6f6;
    border-radius: 20px;
    border: none;
}

.container {
    position: relative;
}

.magnifyGlass {
   position: absolute;
   top: 12px;
   left: 10px;
}