.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--gray-background-color);
  padding: 0 1rem;
  box-sizing: border-box;
}

.list {
  display: flex;
  gap: 1rem;
  font-size: small;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  margin-right: 10px;
}

.link {
  text-decoration: unset;
  color: unset;
}
