.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 0 auto
  }
  .formInput {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  
  .left {
    flex: 1;
    width: 300px;
    border: 1px dashed var(--dark-gray-one);
    border-radius: 8px;
    padding-top: 10px;
    background-color: var(--gray-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .right {
    flex: 2;
    padding: 0 3rem;
  }
  
  .firstDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .firstDetails > div {
    width: 48%;
  }
  
  .marginBottom {
    margin-bottom: 1rem;
  }
  
  .contBtn {
    width: 100%
  }

  .addlClass {
    border-radius: 20px;
  }